:root {
  --blue:#2196F3;
  --dgray:#2F303A;
  --white:#FFFFFF;
  --lblack:#212121;
  --lgray:#757575;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
}
.icons {
  stroke: currentColor;
  fill: currentColor;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} 
header .container {
  display: flex;
  justify-content: space-between;
}
a {
  color: var(--lblack);
  text-decoration: none;
}
h2, h3, h4, h5, h6 {
  color: var(--lblack);
  margin: 8px;
}
p {
  color: var(--lgray);
  padding: 10px;
}
a:hover {
  color: var(--blue);
}
.header {
  border-bottom: 1px solid #ECECEC;
  padding: 24px 0 25px;
}
ul {
  padding: 0px;
}
.nav {
  display: flex;
}
.navigation-list {
  padding-left: 93px;
  list-style: none;
  display: flex;
}
.navigation-list li {
  margin-top: 8px;
  margin-right: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
  padding-left: 144px;
  list-style: none;
  display: flex;
}
.contacts li {
  padding-top: 4px;
  padding-left: 50px;
}
.contacts a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--lgray);
}
.contacts a:hover {
  color: var(--blue);
}
.logo {
  line-height: 1.19;
  letter-spacing: 0.03em;
  font: 700 26px 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--blue);
}
.logo-header {
  line-height: 1.19;
  letter-spacing: 0.03em;
  font: 700 26px 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
}
.logo-header:hover {
  color: black;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/18.jpg);
  height: 600px;
}
.hero h1 {
  /* position: relative;
  width: 696px;
  left: 452px;
  right: 452px;
  top: 200px; */
  padding-top: 200px;
  text-transform: uppercase;
  text-align: center;
  font: 900 44px 'Roboto', sans-serif;
  color: var(--white);
  margin-bottom: 20px;
  letter-spacing: 0.06em;
  line-height: 1.36;
}
.section.hero {
  padding: 0;
}

.btn {
  /* position: relative;
  left: 724px;
  top: 200px; */
  /* margin-left: 662px; */
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  font: 700 16px 'Roboto', sans-serif; 
  letter-spacing: 0.06em;
  line-height: 1.85;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.section {
  display: flex;
  padding-top: 94px;
}
.section-white1 {
  background-color: #F5F5F5;  
}
.list-items {
  margin-right: 30px;
}
.list-items:nth-child(4) {
  margin-right: 0;
}
.section-white1 p {
  margin-top: 10px;
  padding: 0 10px 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;  
  letter-spacing: 0.03em;
}
.section.white1 h3 {
  text-transform: uppercase;
  font: 700 14px 'Roboto', sans-serif; 
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section.white2 h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 36px;
  font-weight: 700;
}
.section.white2 {
  background-color: #F5F5F5;
  flex-direction: column;  
} 
.section.white2 img {
  margin-right: 30px;
}
.section.grey {
  padding-bottom: 94px;
  background-color: #F5F4FA;
  flex-direction: column;  
  padding-bottom: 94px;
}
.section.grey h3 {
  margin: 0;
  padding-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.section.grey p {
  padding: 0;
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em; 
}
.section h2 {
  margin: 0;
  margin-bottom: 50px;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.cards {
  display: flex;
  /* gap: 30px; */
  /* padding-right: 30px; */
}
.card {
  margin-right: 30px;
  box-sizing: border-box;
  width: 270px;
  /* height: 368px; */
  border: 1px solid #EEEEEE;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-clients {
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.client-list-companies {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  stroke: none;
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
}
.client-list-companies:hover {
  border: 1px solid var(--blue);
  border-radius: 4px;
  fill: var(--blue);
}
.footer {
  color: var(--white);
  background-color: var(--dgray);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.logo-footer {
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 16px;
  font: 700 26px 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--white);
}
.logo-footer:hover {
  color: var(--white);
}
.address {
  padding-top: 20px;
}

.address a:hover {
  color: var(--blue);
  cursor: pointer;
}

.footer-links {
  color: #FFFFFF99;
  text-decoration: none;
  margin-bottom: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address ul  {
  padding-top: 20px;
}
.address-list-item {
  margin-top: 9px;
}
.address-list-item a:hover {
  color: var(--blue);
  cursor: pointer;
} 
.geo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.geo:hover {
  color: var(--blue);
  cursor: pointer;
}
.social-list-footer {
  justify-content: space-around;
  margin-left: 70px;
  padding-top: 15px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.social-link-list {
  display: flex;
}
.social-link-list li {
  margin-right: 10px;
}
.social-links-footer {
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
}
.join-us {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ----------------------PORTFOLIO STYLES-------------------------- */


.container.portfolio {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15;
  padding-right: 15px;
  padding-bottom: 94px;
}
.second-page {
  width: 1170px;
}

.projects {
  margin-top: 50px;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
}
.project {
  width: calc((100% - 90px)/3);
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
}
.project:hover {
  transition: all ease 0.35s;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects h2 {
  text-align: start;
  margin: 0;
  color: var(--lblack);
  padding: 24px 10px 0px 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--lgray);
  padding: 0 10px;
  padding-left: 24px;
  padding-bottom: 25px;
  margin-top: 4px;
}

.filters {
  justify-content: center;
  display: flex;
  /* gap: 8px; */
}
.filter:hover {
  background-color: var(--blue);
  color: #FFFFFF;
  opacity: 0.9;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter:focus  {
  background-color: var(--blue);
  color: #FFFFFF;
  opacity: 0.9;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter {
  margin-right: 8px;
  padding: 6px 22px;
  border: 0px;
  background: #F5F4FA;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ------------------- ИКОНКИ ------------------- */
.icon-mail {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  align-self: center;
}
.icon-smartphone {
  margin-right: 10px;
  height: 16px;
  width: 10px;
  align-self: center;
} 
.icon-list {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.icon-list-item {
  align-content: center;
  fill: none;
  stroke: none;
  width: 270px;
  height: 120px;
}
.social {
  stroke: none;
  fill: #AFB1B8;
  height: 44px;
  width: 44px;
}
.social:hover {
  fill: #FFFFFF;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.social-links:hover {
  fill: #FFFFFF;
  background: var(--blue);
}
.social-list {
  justify-content: space-around;
  padding: 0px 32px 30px 32px;
  margin-top: 16px;
  display: flex;
}
.social-links-footer:hover {
  fill: #FFFFFF;
  background: var(--blue);
}
.social-footer {
  stroke: none;
  fill: #FFFFFF;
  height: 44px;
  width: 44px;
}